<html>
  <head>
    <title>Mr.Monopy!</title>
  </head>
  <body>
    <h1>Hey richy rich!</h1>
    <strong>I have <br>44 millions dollar</strong>
    <p><em>Alec let's go ride Rolls Royce</em></p>
    <div>
      <h1><a href="">My first post</a></h1>
      <p>Hui pipis'ka ninis'ka</p>
    </div>
    <div>
      <p>pushblished : date xx.xx.xxxx</p>
      <h3><a href="">Second post</a></h3>
      <p>
        ohohohohohoh Man UUUUUUUUUUUUUU win all!!! Lucky lucky lucky days
      </p>
    </div>

  </body>
</html>
